.app{
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 auto;
}

.heading {
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
}


.darkBackground {
  background-image: url("/Users/alicemaciejewska/Desktop/Projects/frontend_mentor/todo-app-main/to-do-january/src/images/bg-desktop-dark.jpg");
}

.lightBackground {
  background-image: url("/Users/alicemaciejewska/Desktop/Projects/frontend_mentor/todo-app-main/to-do-january/src/images/bg-desktop-light.jpg");
}

.background {
  background-repeat: no-repeat;
  transition: all 0.50s linear;
}
